* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6e6;
}

h1 {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-bottom: 4%;
}

#princial nav ul {
    list-style-type: none;
    margin: 40px;
    padding: 0px;
    border: solid 1px #ff751a;
    background-color: #ff751a50;
}

li {
    display: inline;
    border: solid 1px #ff751a;
    border-bottom: none;
    background-color: #ff751a50;
    margin-left: 30px;
    padding: 7px 16px;
    padding-bottom: 1%;
}

li a {
    text-decoration: none;
    color: #a0a0a0
}

li a:hover:not(.seleccionado) {
    color: #a0a0a0;
}

.seleccionado {
    background-color: #c0c0c0;
    color: #a0a0a0;
}

section#contenido {
    border: 2px solid #c0c0c0;
    margin: 10px;
    padding: 8px;
}

#contenido p {
    text-align: left;
}

#contenido li {
    display: none;
    overflow: hidden;
}