/* Selector universal */
* {
    font-family: monospace;
}

/* Selectores de tipo */
strong {
    color: purple;
    font-size: large;
}

/* Selectores descendientes*/
/* todos los 'a' que esten dentro de un 'p' */
p a {
    color: yellow;
}
/* Nos saltamos los hijos directos */
p * a {
    color: darkred;
}

/* Solo afectamos a los hijos de primer nivel */
p > a {
    color: blue;
}

/********************************************************************************
*   SELECTORES DE CLASE 
*********************************************************************************/
/* Estilo para strong muy importantes */
strong.muy_importante {
    color: red;
    font-weight: bold;
    font-size: x-large;
}

.importante {
    color: indigo;
    font-weight: bold;
}

/* Ejemplo */
.amarillo {
    color: yellow;
}

.letra_grande {
    font-size: x-large;
}

.letra_verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/****************************************************
* SELECTORES POR ID
****************************************************/
#pie {
    color: grey;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: green;
}

p a {
    color: salmon;
}
