    body {
        padding: 0;
        margin: 0;
    }
    
    header {
        background-color: #f5eb90;
        padding: 10px;
    }
    
    header h1 {
        padding: 5px;
        float: left;
        margin-left: 10px;
    }
    
    header nav {
        float: right;
        margin-top: 33px;
        margin-right: 10px;
    }
    
    .container {
        background-color: #B0D0D3;
        margin-left: 5%;
        width: 80%;
        height: auto;
        overflow: hidden;
    }
    
    #seccion-subscripcion {
        background-color: #C08497;
        margin: 0px;
        padding: 10px;
    }
    
    #seccion-subscripcion h1 {
        padding-left: 10px;
        float: left;
    }
    
    #seccion-subscripcion form {
        float: right;
        margin-top: 33px;
        margin-right: 10px;
    }
    
    #main {
        background-color: #F7AF9D;
        padding: 3px;
    }
    
    p img {
        float: left;
        margin-right: 11px;
        margin-bottom: 2px;
    }
    
    #columna-principal {
        background-color: white;
        float: left;
        width: 65%;
        font: 1.1em sans-serif;
        padding: 2%;
    }
    
    aside {
        background-color: #F7E3AF;
        margin-right: 10px;
        float: right;
        width: 26%;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        border: solid 10px #ada687;
    }
    
    .barra-lateral {
        background-color: grey;
        border: solid 1px #ada687;
        padding: 10px;
        margin: 10px;
    }
    
    #elemento-lateral {
        background-color: rgba(226, 226, 29, 0.89);
    }
    
    footer {
        background-color: #C08497;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
    }