* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Style the header */

#header,
header {
    background-color: #008080;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


/* Create two columns/boxes that floats next to each other */

#nav_bar,
nav {
    float: left;
    width: 18%;
    height: 550px;
    /* only for demonstration, should be removed */
    background: white;
    padding: 20px;
    font-size: 75%;
    box-sizing: border-box;
    border: #000000;
}


/* Style the list inside the menu */

#nav_bar ul,
nav ul {
    list-style-type: none;
    padding: 0;
}

#content,
section {
    width: 82%;
    float: left;
    background-color: #f1f1f1;
    padding: 20px;
}

.article,
article {
    padding: 20px;
    /*width: 100%;*/
    background-color: #f1f1f1;
    height: 300px;
    /* only for demonstration, should be removed */
}


/* Clear floats after the columns */

#content:after,
section:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the footer */

#footer,
footer p {
    background-color: #C0C0C0;
    padding: 10px;
    text-align: right;
    color: gray;
    clear: both;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    #nav_bar,
    nav,
    #content,
    section {
        width: 100%;
        height: auto;
    }
}